body {
  background-color: #f8e8a6;
}

h1,
p {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
}

.container a {
  color: green;
  margin: 0 10px;
}

.croissant-photo {
  display: block;
  max-width: 100%;
  margin: 30px auto;
  border-radius: 10px;
}
